.sidebar {
  width: 20%;
  background: #fff;
  border-radius: 8px;
  padding: 20px 10px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
      color: #333;
      cursor: pointer;
      transition: background 0.2s, border 0.3s;

      i {
        margin-right: 15px;
      }

      span {
        white-space: nowrap; // Giúp chữ không bị gãy dòng
      }

      &:hover {
        background-color: rgba(8, 125, 103, 0.1);
      }

      &.active {
        border: 1px solid #087d67;
        background-color: rgba(8, 125, 103, 0.1);
        color: #000;
        font-weight: 500;
      }
    }
  }
  .logout-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  
    .modal-content {
      background: white;
      padding: 30px 40px;
      border-radius: 10px;
      text-align: center;
      width: 800px;
      p {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
      }
  
      .modal-buttons {
        display: flex;
        gap: 10px;
        justify-content: center;
      
        button {
          flex: 1; // đảm bảo các nút có cùng kích thước
          padding: 12px 0;
          border: none;
          font-weight: bold;
          cursor: pointer;
          border-radius: 6px;
          font-size: 16px;
          transition: background 0.3s ease;
        }
      
        .cancel {
          background: #f0f0f0;
          color: #333;
      
          &:hover {
            background: #ddd;
          }
        }
      
        .confirm {
          background: #09905e;
          color: white;
      
          &:hover {
            background: #105f42;
          }
        }
      }
      
    }
  }
  

  @media (max-width: 768px) {
    width: 60px;
    padding: 10px 5px;

    ul {
      li {
        justify-content: center;
        padding: 8px;

        span {
          display: none; // Ẩn label khi sidebar nhỏ
        }
      }
    }
  }
}
