.billdetail-container {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: -5%;
}

.container {
    display: flex;
    gap: 20px;
    height: 100%;
  }
.detailbill-content {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; // scroll nếu quá dài
    .order-detail-bill {
      h3 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
      }
  
      .order-meta-bill {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 20px;
        position: relative;
      
        p {
          margin: 5px 0;
      
          .highlight {
            font-weight: bold;
            color: #000;
          }
        }
      
        .status-bill {
          position: absolute;
          top: 0;
          right: 0;
          font-weight: bold;
      
          .confirmed-bill {
            color: green;
          }
        }
      }
      /*don hàng*/
      .title-productbill {
        color: #000;
        font-size: 17px;
        font-weight: bold;
      }
      .order-items-bill {
        .item-detailbill {
          display: flex;
          align-items: center;
          padding: 10px 0;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 15px;
          }
  
          .item-info-bill {
            h4 {
              margin: 0;
              font-size: 16px;
              
            }
  
            p {
              margin: 5px 0;
              .price-bill {
                color: red;
                font-weight: bold;
              }
              .billdetail-Quantity {
                color: red;
              }
            }
          }
        }
      }
      
      .payment-info-bill {
        margin-top: 20px;
  
        h4 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 15px;
          i {
            margin-right: 8px;
          }
        }
  
        .payment-row-bill,
        .payment-row {
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
           
        }
      
        .total-bill .bold,
        .bill-success {
          color: #dc0c0c;
          font-weight: bold;
        }
  
        .bill-success {
          color: green;
        }
      }
    }
  }
/* khach hàng*/
.customer-info-bill {
    background-color: #ffffff;
    margin-top: 25px;
    border-radius: 12px;
  
    .customer-header-bill {
      display: flex;
      align-items: center;
      font-size: 17px;
      margin-bottom: 15px;
  
    }
  
    .customer-detailbill {
      p {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 8px 0;
  
        .icon-bill {
          color: #086e79;
          font-size: 18px;
          margin-right: 10px;
          min-width: 20px;
          text-align: center;
        }
      }
    }
  }
  