.custom-input {
    border: none;
    border-bottom: 2px solid gray !important; /* Chỉ có viền dưới */
    background-color: red !important; /* Nền trắng */
    border-radius: 0 !important; /* Loại bỏ bo góc */
    box-shadow: none !important; /* Không có box-shadow */
    padding: 10px 0;
  }
  
  .custom-input:focus {
    border-bottom: 2px solid #076247 !important; /* Viền dưới đổi màu khi focus */
    outline: none !important;
  }

