.account-overview-container {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: -5%;
    height: 100vh;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 44%;
      margin-bottom: 3%;
    }
  
    .account-content {
      transition: all 0.3s;
      width: 75%;
    }
    .account-content {
      .mb-3 {
        font-size: 1.11rem;
        transition: all 0.3s ease;
        margin: 5% 0 0 5%;
        padding-bottom: 1%;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.284);
        &:hover {
          font-size: 1.4rem;
          font-weight: 600;
          color: #043828 ; // Tùy chọn thêm cho hiệu ứng sinh động hơn
          cursor: default;
        }
      }
    }
    
  
    .filter-section button {
      min-width: 130px;
    }
  }
  input.form-control:focus {
    box-shadow: none;
    border-color: #0d6efd;
  }
  