// src/styles/navbutton.scss
.nav-button-mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: oklab(43.757000000000005% -0.08778 0.04408 / 0.792);
    padding: 10px 0;
    z-index: 9999;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  }
}

.nav-btn-item {
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  svg {
    font-size: 18px;
  }

  &:hover {
    color: #94a99b;
  }
}
