.container-pd{
    width:80%;
    background-color: white;
    margin-bottom: 10%;
    margin-top: -10%;
    padding-top: 1%;
    border-radius: 10px;
}

.post-content img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 10px auto; /* tuỳ chỉnh thêm nếu muốn căn giữa */
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: inherit;
  transition: color 0.2s;
}

.breadcrumb-item a:hover {
  color: red !important; // Màu đỏ khi hover
  text-decoration: none !important;
}
