.option-btn {
    width: 30%;
    background-color: white;
    color: #043828;
    border: 1px solid #ccc;
    transition: all 0.2s ease;
    position: relative;
    margin-left:2% ;
    cursor: pointer;
    margin-bottom: -0.5%;
    &:hover {
      background-color: #043828;
      color: white;
    }
  
    &.selected {
      border: 2px solid #043828;
      font-weight: bold;
      position: relative;
    }
  
    // &.selected::after {
    //   content: "✓";
    //   position: absolute;
    //   top: -5%;
    //   right: 0;
    //   background-color: #043828;
    //   color: white;
    //   border-bottom-left-radius: 32px;
    //   border-top-left-radius: 5px;
    //   border-top-right-radius: 10px;
    //   width: 30%;
    //   height: 20px;
    //   font-size: 14px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
  